@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@1,100&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    background-image: url(..//ar1.jpeg);
    background-size: cover;
    background-position:center;
}
.server{
    height: 200px;
    width: 500px;
    border-radius: 20px;
    border: 5px solid rgb(61, 97, 112);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(30,109,179);
    background: linear-gradient(37deg, rgba(30,109,179,0.7609637605042017) 27%, rgba(16,38,255,0.6769301470588236) 62%);
}
form .login {
    width: 300px;
    background-color: #292929;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    font-style: 18px;
}
form .password {
    width: 300px;
    background-color: #292929;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    font-style: 18px;
}

#form .inputBox {
    position: relative;
}
.SayError {
    display: block;
    color: #000;
    font-weight: 500i;
    padding: 5px;
}
.btn{
    margin: auto;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    background: #292929;
    color: #fff;
}
p * {
    display: block;
  }
  
  input[type="email"] {
    appearance: none;
    width: 100%;
    border: 1px solid #333;
    margin: 0;
    font-size: 90%;
  }
  
input:invalid {
    border-color: rgb(0, 0, 0);
    background-color: #fff;
  }
  
input:focus:invalid {
    outline: none;
    }
.error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;  
    box-sizing: border-box;
    }
    