@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    background-color: #AA96DA;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.btnClass{
    display: flex;
    align-items: center;
    justify-content: center;
    color: skyblue;
    background-color: #fff;
    width: 100px;
    height: 50px;
    border-radius: 20px;
}
.conteiner{
    background-color: #393e467d;
    padding: 20px 40px;
    border-radius: 5px;
}
.conteiner h1{
    text-align: center;
    margin-bottom: 30px;
}
.btn{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: lightblue;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}

.formControl{
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}
::placeholder {
    color: lightblue;
  }
.formControl input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
 
}

.formControl textarea{
    background-color: transparent;
    border-bottom: 2px solid #fff;
    border-bottom-color: lightblue;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;}
